body {
    margin: 0;
    padding: 0;
    font-family: Inconsolata;
}

header {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0;
    background-color: #add8e6;
    height: 100px;
    
    text-align: center;
    color: white;
}

h1 {
    margin: auto;
    padding: 30px;
}

#main {
    flex: 1 0 auto;
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
    justify-content: center;
}

#info {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 800px;
}

#board {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.spacer {
    flex: 0 1 auto;
    min-width: 200px;
    font-size: 30px;
    font-weight: bolder;
}

.spacer > p {
    margin: 75px auto;
}

#pallette {
    margin: 10px auto;
}

#pallette .box{
    display: inline-block;
}

.box {
    margin: 1px;
    width: 20px;
    height: 20px;
}

.box:hover {
    width: 18px;
    height: 18px;
    border: 1px solid white;
}

button {
   margin: 5px; 
   font-size: 30px;
   color: #aaa;
   border: none;
}

button:focus {
    outline: 3px solid #aaa ;
}














