html, body {
    margin: 0;
    padding: 0;
}

header {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0;
    background-color: #add8e6;
    height: 100px;
}

#main {
    text-align: center;
}

#board {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#pallette {
    margin: 10px auto;
}

#pallette .box{
    display: inline-block;
}

.box {
    margin: 1px;
    width: 20px;
    height: 20px;
}

.box:hover {
    width: 18px;
    height: 18px;
    border: 1px solid white;
}

button {
   margin: 5px; 
   font-size: 30px;
   color: #aaa;
   border: none;
}

button:focus {
    outline: 3px solid #aaa ;
}














